<div id="button-pc" class="dropdown">
    <button class="dropbtn">PowerControl</button>
    <div class="dropdown-content">
        <div class="checkbox-container">
            <div class="checkbox-circle"></div>
            <label><input type="checkbox" value="ne"> ne</label>
          </div>
          <div class="checkbox-container">
            <div class="checkbox-circle"></div>
            <label><input type="checkbox" value="two"> two</label>
          </div>
          <div class="checkbox-container">
            <div class="checkbox-circle"></div>
            <label><input type="checkbox" value="free"> free</label>
          </div>
     </div>
</div>

<style>
    .dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content label {
  display: block;
  padding: 8px 12px;
}

/* Show the dropdown menu when the button is clicked */
.show {
  display: block;
}
</style>