<div id="table-product-information" class="box-body">
    <h2>Firmware Information</h2>
      <table class="table table-body">
        <tbody>
          <tr>
            <td><%=locale.t("stats:bmc_firmware")%></td>
            <td id="bmc_firmware"></td>
          </tr>
          <tr>
            <td><%=locale.t("stats:bmc_build_date")%></td>
            <td id="bmc_build_date"></td>
          </tr>
          <tr>
            <td><%=locale.t("stats:bios_firmware")%></td>
            <td id="bios_firmware"></td>
          </tr>
          <tr>
            <td><%=locale.t("stats:bios_build_date")%></td>
            <td id="bios_build_date"></td>
          </tr>
          <tr>
            <td><%=locale.t("stats:cpld")%></td>
            <td id="cpld"></td>
          </tr>
        </tbody>
      </table>
    </div>