<div id="table-network-info" class="box-body">
    <table class="table table-body">
        <tbody>
            <tr>
              <td><%=locale.t("stats:mac_address")%></td>
              <td id="mac_address"></td>
            </tr>
            <tr>
              <td><%=locale.t("stats:ipv4_network_mode")%></td>
              <td id="ipv4_network_mode"></td>
            </tr>
            <tr>
              <td><%=locale.t("stats:ipv4_address")%></td>
              <td id="ipv4_address"></td>
            </tr>
            <tr>
              <td><%=locale.t("stats:ipv6_network_mode")%></td>
              <td id="ipv6_network_mode"></td>
            </tr>
            <tr>
              <td><%=locale.t("stats:ipv6_address")%></td>
              <td id="ipv6_address"></td>
            </tr>
        </tbody>
    </table>
</div>