<div id="table-product-information" class="box-body">
  <!--<h2>Product Information</h2>-->
    <table class="table table-body">
      <tbody>
        <tr>
          <td><%=locale.t("Vendor")%></td>
          <td id="vendor"></td>
        </tr>
        <tr>
          <td><%=locale.t("Model")%></td>
          <td id="model_product"></td>
        </tr>
        <tr>
          <td><%=locale.t("Board_model")%></td>
          <td id="board_model"></td>
        </tr>
        <tr>
          <td><%=locale.t("Server_serial_number")%></td>
          <td id="server_serial_number"></td>
        </tr>
        <tr>
          <td><%=locale.t("Host_name")%></td>
          <td id="host_name"></td>
        </tr>
        <tr>
          <td><%=locale.t("Uuid")%></td>
          <td id="uuid"></td>
        </tr>
      </tbody>
    </table>
  </div>