<div id="table-product-information" class="box-body">
  <h2>Product Information</h2>
    <table class="table table-body">
      <tbody>
        <tr>
          <td class="title"></td>
          <td id="vendor" class="value"></td>
        </tr>
        <tr>
          <td class="title"></td>
          <td id="model" class="value"></td>
        </tr>
        <tr>
          <td class="title"></td>
          <td id="board_model" class="value"></td>
        </tr>
        <tr>
          <td class="title"></td>
          <td id="server_serial_number" class="value"></td>
        </tr>
        <tr>
          <td class="title"></td>
          <td id="host_name" class="value"></td>
        </tr>
        <tr>
          <td class="title"></td>
          <td id="uuid" class="value"></td>
        </tr>
      </tbody>
    </table>
  </div>