<div id="quick-button" class="full-width-block">
    <h2>Quick Button</h2>
    <body>
        <div id="button-container">
            <button id="pc" calss="button split left centered">Power Control</button>
            <button id="hvm" calss="button split left centered">HVM</button>
        </div>
        <div id="dropdown-container" class="hidden split left centered">
            <table class="table box-body">
                <tbody>
                    <tr>
                        <td>
                            <button class="btn btn-success btn-circle btn-sm">
                                <i class="fa fa-check"></i>
                            </button>
                        </td>
                        <td>Forced Power</td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-success btn-circle btn-sm">
                                <i class="fa fa-check"></i>
                            </button>
                        </td>
                        <td>Power On</td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-success btn-circle btn-sm">
                                <i class="fa fa-check"></i>
                            </button>
                        </td>
                        <td>Power Cycle</td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-success btn-circle btn-sm">
                                <i class="fa fa-check"></i>
                            </button>
                        </td>
                        <td>ForcedSystem Reset</td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-success btn-circle btn-sm">
                                <i class="fa fa-check"></i>
                            </button>
                            </td>
                        <td>Trigger NMI</td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-success btn-circle btn-sm">
                                <i class="fa fa-check"></i>
                            </button>
                        </td>
                        <td>Soft Shutdown</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</div>

<style>

    #button-container {        
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .button {
        width: 50%;
        height: 50px;
        font-size: 18px;
        background-color: white; /*#4CAF50*/
        color: black;
        border: none;
        cursor: pointer;
    }

    #dropdown-container {
        width: 50%;
        background-color: #f1f1f1;
        padding: 10px;
        margin-top: 20px;
        border: 1px solid #ddd;
    }

    #dropdown-container.hidden {
            display: none;
    }

    .button-active{
        background-color: #4CAF50; 
        color: #fff;
    }
    
    #dropdown-container.button-hidden {
        display: none;
    }
    
</style>