<div id="quick-button" class="full-width-block">
    <h2>Quick Button</h2>
    
        <body>
            <div id="button-container">
                    <button id="button-pc" class="button split left centered">Power Control</button>
                    <button id="button-hvm" class="button split right centered">HVM</button>
                    
            </div>
            <!--<script id="script-placeholder"></script>-->
            <div id="dropdown-container" class="hidden split left centered">
                <table class="table box-body">
                    <tbody>
                        <tr>
                            <td>
                                <button class="btn btn-success btn-circle btn-sm" onclick="toggleCheckmark(this)">
                                    <i class="fa fa-check"></i>
                                </button>
                            </td>
                            <td>Forced Power</td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn btn-success btn-circle btn-sm" onclick="toggleCheckmark(this)">
                                    <i class="fa fa-check"></i>
                                </button>
                            </td>
                            <td>Power On</td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn btn-success btn-circle btn-sm" onclick="toggleCheckmark(this)">
                                    <i class="fa fa-check"></i>
                                </button>
                            </td>
                            <td>Power Cycle</td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn btn-success btn-circle btn-sm" onclick="toggleCheckmark(this)">
                                    <i class="fa fa-check"></i>
                                </button>
                            </td>
                            <td>ForcedSystem Reset</td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn btn-success btn-circle btn-sm" onclick="toggleCheckmark(this)">
                                    <i class="fa fa-check"></i>
                                </button>
                            </td>
                            <td>Trigger NMI</td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn btn-success btn-circle btn-sm" onclick="toggleCheckmark(this)">
                                    <i class="fa fa-check"></i>
                                </button>
                            </td>
                            <td>Soft Shutdown</td>
                        </tr>
                </table>
                <div class="text-right mt-3">
                    <button class="btn btn-success px-4">
                        <i class="fa fa-power-off text-white mr-2"></i>
                        <span>Perform Action</span>
                    </button>
                </div>
              </div>

        <!--
            <label for="button-pc">Power Control</label>
            <select name="items" id="items">
                <option value="Forced Power Off">Forced Power Off</option>
                <option value="Power On">Power On</option>
            </select>
            <br><br>
        -->
            
           <!--<input type="submit" value="Submit">
            <!-->

        <!--
            <div id="dropdown-container" class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton">
                    Power Control
                  </button>
                  
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">
                      <button class="btn btn-circle btn-sm" onclick="toggleCheckmark(this)"> 
                        <i class="fa fa-check"></i>
                      </button>
                      Forced Power
                    </a>
                  
                  <a class="dropdown-item" href="#">
                    <button class="btn btn-success btn-circle btn-sm" onclick="toggleCheckmark(this)"> 
                         <i class="fa fa-check"></i>
                    </button>
                    Power On
                  </a>
                  <a class="dropdown-item" href="#">
                    <button class="btn btn-success btn-circle btn-sm" onclick="toggleCheckmark(this)"> 
                         <i class="fa fa-check"></i>
                    </button>
                    Power Cycle
                  </a>
                  <a class="dropdown-item" href="#">
                    <button class="btn btn-success btn-circle btn-sm" onclick="toggleCheckmark(this)"> 
                         <i class="fa fa-check"></i>
                    </button>
                    Forced System Reset
                  </a>
                  <a class="dropdown-item" href="#">
                    <button class="btn btn-success btn-circle btn-sm" onclick="toggleCheckmark(this)"> 
                         <i class="fa fa-check"></i>
                    </button>
                    Trigger NMI
                  </a>
                  <a class="dropdown-item" href="#">
                    <button class="btn btn-success btn-circle btn-sm" onclick="toggleCheckmark(this)"> 
                         <i class="fa fa-check"></i>
                    </button>
                    Soft hutdown
                  </a>
            
                </div>
              </div>
            -->
        
            <!--<script id="script-placeholder"></script>-->

        </body>
    </div>
  
  
    <style>

        #dropdownMenuButton {
        width: 50%; 
        border: none;
        }

        .dropdown-menu > a {
        display: block;
        }

        #button-container {
            
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }

        .button {
            width: 50%;
            height: 50px;
            font-size: 18px;
            background-color: white; /*#4CAF50*/
            color: white;
            border: none;
            cursor: pointer;
        }

        .button:hover {
            background-color: white; /*#4CAF50*/
        }

        #dropdown-container {
            width: 50%;
            background-color: #f1f1f1;
            padding: 10px;
            margin-top: 20px;
            border: 1px solid #ddd;
        }

        #dropdown-container.hidden {
            display: none;
        }

        #dropdown-container ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        #dropdown-container li {
            margin-bottom: 5px;
        }

        #dropdown-container input[type="checkbox"] {
            margin-right: 5px;
        }

        .button {
            background-color: #ccc; 
            color: #000;
            }

            .button-active {
            background-color: #4CAF50; 
            color: #fff;
            }
        
    </style>
  
  
    <script>
        const buttonPC = document.getElementById('button-pc');
        const buttonHVM = document.getElementById('button-hvm');
        const dropdownContainer = document.getElementById('dropdown-container');

        //HVM
        buttonHVM.addEventListener('click', () => {
        buttonHVM.classList.toggle('button-active');
        });

        //PC
        buttonPC.addEventListener('click', () => {
        dropdownContainer.classList.toggle('hidden');
        });

        buttonPC.addEventListener('click', () => {
            buttonPC.classList.toggle('button-active');
        });

    

        //Click events
        //const firstOption = document.getElementById('first-option');
        //const secondOption = document.getElementById('second-option');

        firstOption.addEventListener('click', () => {
        console.log('First option selected');
        });

        secondOption.addEventListener('click', () => {
        console.log('Second option selected');
        });
        

        //function toggleCheckmark(button) {
        //button.classList.toggle('btn-success');
        //};

        function toggleCheckmark(button) {
            var checkIcon = button.querySelector('i');
            //First - add
            if (!checkIcon.classList.contains('fa-check')) {
                button.classList.add('btn-success');
                checkIcon.classList.add('fa-check');
            } else {
                // Second - remove
                button.classList.remove('btn-success');
                checkIcon.classList.remove('fa-check');
            }
            };
        
            function toggleDropdown() {
                var dropdown = document.getElementById('dropdown-container');
                dropdown.classList.toggle('hidden');
            };

            /*jQuery(function($){
                $(document).mouseup( function(e){ // событие клика по веб-документу
                    var div = $( "#ropdown-container" ); // тут указываем ID элемента
                    if ( !div.is(e.target) // если клик был не по нашему блоку
                        && div.has(e.target).length === 0 ) { // и не по его дочерним элементам
                        div.hide(); // скрываем его
                    }
                });
            });
            */

            $(document).on('click', function (e) {
                if ($(e.target).closest(".table box-body").length === 0) {
                    $(".table box-body").hide();
                }
            });



    </script>
  