<div id="quick-button" class="full-width-block">
    <h2>Quick Button</h2>
    <body>
        <div class="button-container">
            <div id="pc-button" class="button">
                <button>PC</button>
                <select multiple>
                    <option value="one">one</option>
                    <option value="two">two</option>
                </select>
            </div>
            <div id="hvm-button" class="button">
                <button>hvm</button>
            </div>
        </div>
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.1/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.0/backbone-min.js"></script>
    <script src="app/views/dashboard/QuickButtonViewHVM.js"></script>
    <script src="viewhvm.js"></script>
    <script scr="/home/user/work/webui-light/app/views/dashboard/QuickButtonViewPC.js"></script>
    
    <script src="app.js"></script>
    -->
    </body>

<style>
    .button-container {
    display: flex;
    }

    .button {
        width: 50%;
    }

    .button button {
        width: 100%;
    }

    .active {
        background-color: green;
    }

</style>