<div id="quick-button" class="full-width-block">
    <h2>Quick Button</h2>
    <body>
        <div id="button-container">
            <button id="pc" class="button split left centered one">Power Control</button>
            <button id="hvm" class="button split left centered">KVM</button>
        </div>
        <div id="dropdown-container" class="hidden split left centered">
            <table class="table box-body">
                <tbody>
                    <tr>
                        <td>
                            <button id='BtnForcedPower'class="btn btn-circle btn-sm">
                                <i id='FaForcedPower' class="fa fa-check"></i>
                            </button>
                        </td>
                        <td  class="status">Forced Power</td>
                    </tr>
                    <tr>
                        <td>
                            <button id='BtnPowerOn' class="btn btn-success btn-circle btn-sm">
                                <i id='FaPowerOn' class="fa fa-check"></i>
                            </button>
                        </td>
                        <td  class="status">Power On</td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-success btn-circle btn-sm">
                                <i class="fa fa-check"></i>
                            </button>
                        </td>
                        <td>Power Cycle</td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-success btn-circle btn-sm">
                                <i class="fa fa-check"></i>
                            </button>
                        </td>
                        <td>ForcedSystem Reset</td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-success btn-circle btn-sm">
                                <i class="fa fa-check"></i>
                            </button>
                            </td>
                        <td>Trigger NMI</td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-success btn-circle btn-sm">
                                <i class="fa fa-check"></i>
                            </button>
                        </td>
                        <td>Soft Shutdown</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right mt-3">
                <button id='pa' class="btn px-4">
                    <i class="fa fa-power-off background-color-grey text-black mr-2"></i>
                    <span>Perform Action</span>
                </button>
            </div>
          </div>
        </div>
    </body>
</div>