<!-- timeline item -->

<!-- timeline icon -->
<!-- <i class="fa fa-flag bg-blue"></i> -->
<div class="timeline-item">

    <h3 class="timeline-header">
        <i class="sensor_icon"></i>
        <span class="logseverity"></span>
        <span class="datetime"></span>
        <span class="auditlogdesc">
        </span>
    </h3>
   
   <!-- <span class="time"><i class="fa fa-clock-o"></i> 
        <%=fromnow%>
    </span>

    <h3 class="timeline-header">
        <%=hostname%>
        <%=event%>
    </h3>

    <div class="timeline-body">
        <%=event_message%>
    </div>


    <div class='timeline-footer'>
        <a class="btn btn-primary btn-xs" href="javascript://">
            <%=locale.t("common:suggestion")%>
        </a>
    </div>-->
</div>

<!-- END timeline item -->