            <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        <%= locale.t("dashboard:title") %>
                        <small><%= locale.t("dashboard:tag") %></small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i> <%= locale.t("dashboard:home") %></a></li>
                        <li class="active"><%= locale.t("dashboard:title") %></li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
                    <!-- top row -->
                    <div class="row">
                        <div class="col-xs-12 top connectedSortable">
                            
                        </div><!-- /.col -->
                    </div>
                    <!-- /.row -->

                </section><!-- /.content -->
